<%- include('../partials/header') %>
<%- include('../partials/main_nav') %>
<main class="container">
    <!-- Message Area -->
    <% if (message && message.length > 0) { %>
        <div class="alert alert-danger">
            <%= message %>
        </div>
    <% } %>
    <div class="center-container">
        <div class="card">
            <h2>Please Login</h2>
            <form method="post" action="/login" autocomplete="off">
                <fieldset class="form-group">
                    <label for="username">Username</label>
                    <input 
                        type="text" 
                        class="form-control" 
                        name="username" 
                        placeholder="Enter your username" 
                        id="username" 
                        required 
                        autofocus
                    >
                </fieldset>
                <fieldset class="form-group">
                    <label for="password">Password</label>
                    <input 
                        type="password" 
                        class="form-control" 
                        name="password" 
                        placeholder="Enter your password" 
                        id="password" 
                        required
                    >
                    <p class="mt-2">or <a href="/register" class="text-baby-pink">Register Here</a></p>
                </fieldset>
                <fieldset class="form-group text-center">
                    <button type="submit" class="btn btn-pink">Login</button>
                    <a href="/">
                        <button type="button" class="btn btn-grey">Cancel</button>
                    </a>
                </fieldset>
            </form>
        </div>
    </div>
</main>
<%- include('../partials/footer') %>
